@font-face {
  font-family: 'Anurati';
  src: url('./assets/fonts/Anurati-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#parent {
    display: flex;
}

#left {
    position: relative;
    width: 30%;
    background: linear-gradient(0deg, purple, black);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-height: 100vh;
    /*overflow: hidden*/
}


#right {
    position: relative;
    flex: 1;
    width: 200px;
    height: 200px;
}


#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}
